@model ActualylTask03.Saint

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm(
    "Edit",
    "Saints",
    null,
    FormMethod.Post,
    new { enctype = "multipart/form-data" }
    ))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Saint</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.WhenHeBecame, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.WhenHeBecame, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.WhenHeBecame, "", new { @class = "text-danger" })
        </div>
    </div>

    @foreach (var file in Model.Images)
    {
        <div class="form-group">
            <span class="control-label col-md-2">
                <strong>Image</strong> <br />

                @Ajax.ActionLink(
                    "Delete", // text
                    "Delete", // action
                    "File", // controller
                    new { id = file.Id },
                    new AjaxOptions()
                    {
                        HttpMethod = "Post"
                    }
               )
            </span>

            <div class="col-md-10">
                <img src="~/Images?id=@file.Id" alt="Picture"
                     width="300"
                     height="200" />
            </div>
        </div>
    }

    <div class="form-group">
        @Html.Label("Picture", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" id="Picture" multiple
                   accept="image/*" name="files" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
